@import "../media.css";

.list {
  @media (--large-viewport) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.item {
  @media (--large-viewport) {
    width: 49%;
  }
}
