.alert {
  width: 100%;
  position: fixed;
  bottom: -100px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  background: var(--color-success);
  display: block;
  padding: 0.5em;
  animation: moveUpDown 4000ms ease;
  z-index: 1000;

  &.error {
    background: var(--color-error);
  }
}

@keyframes moveUpDown {
  0% {
    bottom: -100px;
  }
  10% {
    bottom: 0;
  }
  90% {
    bottom: 0;
  }
  100% {
    bottom: -100px;
  }
}