@import "../media.css";

.button {
  width: auto;
  max-width: 100%;
  box-shadow: none;
  font-size: var(--font-size);
  height: auto;
  margin: var(--gutter-inline-large) 0 var(--gutter-inline);
  padding: 0.3em 1em;

  &.right {
    float: right;
  }

  @media (--small-viewport) {
    width: 100%;
  }
}

.medium {
  min-width: 35%;
}

.large {
  min-width: 70%;
}

.block {
  width: 100%;
  text-align: center;
}

.icon {
  float: left;
  &.iconRight {
    float: right;
  }
}
